<%= turbo_frame_tag(
    "response",
    data: { visibility_target: "hideable" } 
    ) do %>
  <div class="p-4 border rounded text-left">
    <h3 class="font-semibold mb-2">Analysis</h3>
    <pre class="text-sm bg-gray-50 p-3 rounded overflow-x-auto"><%= JSON.pretty_generate(result) %></pre>
  </div>
    <%= button_tag "Retry",
      class: "inline-flex rounded-md bg-gray-900 px-4 py-2 
      text-white hover:bg-gray-600",
      data: { action: "click->visibility#toggleVisibility" } 
    %>
<% end %>